#-----------------------------------------------------------------------------------------------------------------------
# Приложение "Финансовый чат-бот".
#
# При запуске приложения без докера в качестве хостов укажите localhost,
# либо настройте локальный dns, который будет перенаправлять с указанных здесь хостов на localhost
#-----------------------------------------------------------------------------------------------------------------------
# Название сервиса
TELEGRAM_BOT_REPORT_SERVICE_NAME: telegram_bot_report
# Строка подключения к базе данных
TELEGRAM_BOT_REPORT_DB_CONNECTION_STRING: host=postgres-dev port=5432 user=postgres password=postgres dbname=telegram_bot sslmode=disable
# Строка подключения к сервису кеширования (если не задана, то кеширование не используется)
TELEGRAM_BOT_REPORT_CACHE_CONNECTION_STRING: redis-dev:6379 #Redis
# Профиль логирования: prod или dev (по умолчанию - prod)
TELEGRAM_BOT_REPORT_LOG_MODE: prod
# Доля записываемых сообщений трейсинга (от 0 до 1.0)
TELEGRAM_BOT_REPORT_TRACE_SAMPLING: 1.0
# Порт, по которому приложение предоставляет метрики
TELEGRAM_BOT_REPORT_METRICS_PORT: 8081
# Адреса брокеров очередей сообщений.
TELEGRAM_BOT_REPORT_MESSAGE_QUEUE_BROKERS: kafka:9092,kafka:9093
# Адрес сервиса для отправки отчётов пользователям.
TELEGRAM_BOT_REPORT_SENDER_ADDRESS: telegram-bot-finance:9200

#-----------------------------------------------------------------------------------------------------------------------
# Модуль финансов
#-----------------------------------------------------------------------------------------------------------------------
# Валюта для внутреннего хранения денежных сумм
TELEGRAM_BOT_REPORT_DEFAULT_CURRENCY: RUB
# Периодичность обновления курсов валют
TELEGRAM_BOT_REPORT_CURRENCY_RATES_UPDATE_PERIOD: 10m