#-----------------------------------------------------------------------------------------------------------------------
# Приложение "Сервис отчётов"
#
# При запуске приложения без докера в качестве хостов укажите localhost,
# либо настройте локальный dns, который будет перенаправлять с указанных здесь хостов на localhost
#-----------------------------------------------------------------------------------------------------------------------
# Название сервиса
service_name: telegram_bot_report
# Строка подключения к базе данных
db_connection_string: host=postgres-dev port=5432 user=postgres password=postgres dbname=telegram_bot sslmode=disable
# Строка подключения к сервису кеширования (если не задана, то кеширование не используется)
cache_connection_string: redis-dev:6379 #Redis
# Профиль логирования: prod или dev (по умолчанию - prod)
log_mode: prod
# Доля записываемых сообщений трейсинга (от 0 до 1.0)
trace_sampling: 1.0
# Порт, по которому приложение предоставляет метрики
metrics_port: 8081
# Адреса брокеров очередей сообщений.
message_queue_brokers:
  - kafka:9092
  - kafka:9093
# Адрес сервиса для отправки готовых отчётов пользователям.
sender_address: telegram-bot-finance:9200

#-----------------------------------------------------------------------------------------------------------------------
# Модуль финансов
#-----------------------------------------------------------------------------------------------------------------------
# Валюта для внутреннего хранения денежных сумм
default_currency: RUB
# Периодичность обновления курсов валют (по умолчанию - раз в 10 минут)
currency_rates_update_period: 10m
